BANGDB_LOG_DIR = logdir
BANGDB_PERSIST_TYPE = 1
BANGDB_INDEX_TYPE = 2
BUFF_POOL_SIZE_HINT = 2048
KEY_SIZE = 24
MAX_RESULTSET_SIZE = 256
BANGDB_TRANSACTION_CACHE_SIZE = 256
MAXTABLE = 128
MAXCONN = 256
MAX_THREADS = 128
PAGE_SIZE_BANGDB = 8192
PAGE_WRITE_FACTOR = 128
PAGE_READ_FACTOR = 128


BANGDB_LOG = 1
LOG_BUF_SIZE = 64
BANGDB_APP_LOG = 2
DB_APP_LOG_SIZE_MB = 2
DAT_SIZE = 10240
KEY_COMP_FUNCTION_ID = 2
BANGDB_AUTOCOMMIT = 1
PAGE_SPILT_FACTOR = 60
MASTER_LOG_BUF_SIZE = 64
BANGDB_SYNC_TRAN = 1
BANGDB_SIGNAL_HANDLER_STATE = 0
LOG_FLUSH_FREQ = 50000
CHKPNT_ENABLED = 0
CHKPNT_FREQ = 3370000
LOG_SPLIT_CHECK_FREQ = 23000
BUF_FLUSH_RECLAIM_FREQ = 60000
GROW_BUFF_SIZE = 16
SCATTER_GATHER_MAX = 0
MIN_DIRTY_SCAN = 128
MIN_UPDATED_SCAN = 32
IDX_FLUSH_CONSTRAINT = 4
DAT_FLUSH_CONSTRAINT = 25
IDX_RECLAIM_CONSTRAINT = 3
DAT_RECLAIM_CONSTRAINT = 7
IDX_DAT_NORMALIZE = 2
PREFETCH_BUF_SIZE = 2
PREFETCH_SCAN_WINDOW_NUM = 20
PREFETCH_EXTENT_NUM = 16
